@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap");
.footer-container, .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  grid-area: header;
  background-color: #c2a997;
  padding-top: 13%;
  padding-bottom: 50%;
  padding-right: 1%;
  position: fixed;
  z-index: 2;
}
@media only screen and (max-width: 550px) {
  .header-container {
    grid-area: header;
    background-color: #c2a997;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 0.5rem;
    margin-top: 1%;
    margin-left: 1%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
  }
}
@media only screen and (max-width: 990px) {
  .header-container {
    grid-area: header;
    background-color: #c2a997;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 0.5rem;
    margin-top: 1%;
    margin-left: 1%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
  }
}
.header-container nav .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  line-height: 6rem;
  position: relative;
  left: 7%;
}
@media only screen and (max-width: 990px) {
  .header-container nav .menu {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 1600px) {
  .header-container nav .menu {
    font-size: 1.7rem;
  }
}
.header-container nav .menu li a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

.footer-container {
  grid-area: footer;
  color: black;
  margin-top: 4%;
  padding-top: 2%;
  margin-left: 6.5%;
  position: relative;
  bottom: 2rem;
}
@media only screen and (max-width: 990px) {
  .footer-container {
    position: relative;
    bottom: -100%;
  }
}
@media only screen and (max-width: 1600px) {
  .footer-container {
    position: relative;
    bottom: -100%;
  }
}
@media only screen and (max-width: 550px) {
  .footer-container {
    position: relative;
    right: 10%;
    margin-bottom: 10%;
  }
}
.footer-container .logoface {
  position: relative;
  bottom: 5rem;
  left: 10rem;
}
.footer-container .logoig {
  position: relative;
  bottom: 5rem;
  left: 35rem;
}
@media only screen and (max-width: 550px) {
  .footer-container .logoig {
    position: relative;
    left: 29rem;
  }
}
.footer-container h4 {
  font-size: 1.5rem;
}
@media only screen and (max-width: 550px) {
  .footer-container h4 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 550px) {
  .footer-index {
    margin-bottom: 25%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  background-color: rgb(230, 226, 219);
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto 80%;
  grid-template-columns: auto 13%;
  grid-template-areas: "header main main" "header main main" "header footer footer";
}

.main-container {
  grid-area: main;
  margin-left: 10%;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media only screen and (max-width: 990px) {
  .main-container {
    margin-left: 13%;
  }
}
@media only screen and (max-width: 1600px) {
  .main-container {
    margin-left: 12%;
  }
}
@media only screen and (max-width: 550px) {
  .main-container {
    margin-left: 0%;
  }
}
.main-container .section-foto {
  position: relative;
  top: 3rem;
}
.main-container .section-foto .home-div {
  background-color: rgba(230, 219, 210, 0.9921568627);
  border-radius: 1rem;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 7%;
}
@media only screen and (max-width: 550px) {
  .main-container .section-foto .home-div {
    background-color: rgba(230, 219, 210, 0.9921568627);
    position: relative;
    top: 8rem;
    border-radius: 1rem;
    margin-right: 0;
    margin-left: 0;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15%;
  }
}
.main-container .section-foto .home-div img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.main-container .section-texto {
  position: relative;
  bottom: 7rem;
  padding-left: 6%;
  margin-left: 10%;
  color: black;
  opacity: 0.8;
}
@media only screen and (max-width: 1600px) {
  .main-container .section-texto {
    position: relative;
    bottom: 4rem;
  }
}
@media only screen and (max-width: 990px) {
  .main-container .section-texto {
    position: relative;
    bottom: 3rem;
  }
}
@media only screen and (max-width: 550px) {
  .main-container .section-texto {
    position: relative;
    top: 10%;
    left: 10%;
    background-color: rgb(194, 193, 193);
    padding: 4%;
    margin-right: 12%;
    margin-bottom: 15%;
    border-radius: 1rem;
  }
}
.main-container .section-texto h1 {
  font-size: 2.7rem;
  font-family: "Source Serif Pro", serif;
}
@media only screen and (max-width: 1600px) {
  .main-container .section-texto h1 {
    font-size: 2rem;
  }
}
.main-container .section-texto h4 {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  color: black;
  opacity: 0.8;
}
@media only screen and (max-width: 1600px) {
  .main-container .section-texto h4 {
    font-size: 1.6rem;
  }
}

section .grilla-fotos {
  background-color: rgba(230, 219, 210, 0.9921568627);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;
  justify-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  margin-right: 3rem;
}
@media only screen and (max-width: 550px) {
  section .grilla-fotos {
    background-color: rgba(230, 219, 210, 0.9921568627);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    justify-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  section .grilla-fotos .foto21 {
    display: none;
  }
}
section .grilla-fotos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.contenedor {
  margin-bottom: -4rem;
}

.titulo-nfg {
  padding-top: 3%;
  display: flex;
  flex-direction: column;
}
.titulo-nfg h1 {
  align-items: center;
  font-size: 4.3rem;
  font-family: "Source Serif Pro", serif;
  padding-bottom: 2%;
  position: relative;
  left: 43%;
}
@media only screen and (max-width: 550px) {
  .titulo-nfg h1 {
    position: relative;
    left: 34%;
    font-size: 3.8rem;
    margin-top: 5%;
  }
}
.titulo-nfg p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}
@media only screen and (max-width: 550px) {
  .titulo-nfg p {
    font-size: 1.7rem;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

section .tm-div {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-family: "Dancing Script", cursive;
}
section .tm-div h3 {
  position: relative;
  top: 5.8rem;
  right: 1%;
  font-size: 2.5rem;
  margin-bottom: 1%;
}
@media only screen and (max-width: 1600px) {
  section .tm-div {
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    bottom: 4rem;
  }
}
@media only screen and (max-width: 990px) {
  section .tm-div {
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    bottom: 4rem;
  }
}
@media only screen and (max-width: 550px) {
  section .tm-div {
    margin-top: 9%;
    margin-bottom: 1%;
    position: relative;
    bottom: 6rem;
  }
}

.new-div p {
  font-family: "Lato", sans-serif;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 2rem;
}
@media only screen and (max-width: 550px) {
  .new-div p {
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
    padding-top: 3%;
    padding-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.titulo-nfg .sobre-div {
  background-color: rgba(230, 219, 210, 0.9921568627);
  border-radius: 1rem;
  margin-bottom: 2%;
  margin-top: -2%;
  padding: 2%;
  width: 50%;
  height: 50%;
}
@media only screen and (max-width: 550px) {
  .titulo-nfg .sobre-div {
    width: 90%;
    height: 90%;
  }
}
.titulo-nfg .sobre-div .foto-debo {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.titulo-nfg .sobre-div .fade-in {
  animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titulo-contenedor {
  position: relative;
  right: 39%;
}
@media only screen and (max-width: 1600px) {
  .titulo-contenedor {
    margin-left: 20%;
  }
}
@media only screen and (max-width: 550px) {
  .titulo-contenedor {
    margin-top: 15%;
    margin-left: 10%;
  }
  .titulo-contenedor h1 {
    position: relative;
    left: 43%;
  }
}
.titulo-contenedor p {
  position: relative;
  left: 43%;
}
@media only screen and (max-width: 990px) {
  .titulo-contenedor h1 {
    position: relative;
    left: 43%;
  }
}
@media only screen and (max-width: 1600px) {
  .titulo-contenedor h1 {
    position: relative;
    left: 43%;
  }
}

.contacto-container {
  margin-left: -25%;
}
@media only screen and (max-width: 1600px) {
  .contacto-container {
    margin-left: -8%;
    margin-right: 10%;
  }
}
@media only screen and (max-width: 550px) {
  .contacto-container {
    margin-left: 0;
    margin-right: 0;
  }
}

.redes {
  width: 73rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 60%;
}
@media only screen and (max-width: 550px) {
  .redes {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  .redes {
    display: none;
  }
}
@media only screen and (max-width: 1600px) {
  .redes {
    display: none;
  }
}

.formulario {
  display: flex;
  background-color: rgb(194, 193, 193);
  border-radius: 1rem;
  margin-left: 4%;
  padding: 2%;
  width: 95%;
  height: 95%;
}
@media only screen and (max-width: 990px) {
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(194, 193, 193);
    border-radius: 1rem;
    margin-left: 0;
    margin-bottom: 40%;
    padding: 30%;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(194, 193, 193);
    border-radius: 1rem;
    margin-left: 0;
    margin-bottom: 60%;
    padding: 10%;
    width: 100% s;
    height: 100%;
  }
}
.formulario iframe {
  margin-right: 20%;
  margin-left: 10%;
  border-radius: 1rem;
}
@media only screen and (max-width: 990px) {
  .formulario iframe {
    margin-top: -70%;
    margin-bottom: 20%;
    position: relative;
    right: 50%;
    width: 50rem;
    height: 60%;
  }
}
@media only screen and (max-width: 550px) {
  .formulario iframe {
    margin-top: -30%;
    position: relative;
    right: 10%;
    width: 100%;
    height: 30%;
  }
}
.formulario .form {
  width: 34rem;
  height: 44rem;
  background: #e6e6e6;
  border-radius: 0.8rem;
  box-shadow: 0 0 1.5rem -1rem black;
  margin: 0;
  margin-left: 4%;
  padding: 2rem 3rem;
  max-width: calc(100vw - 4rem);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
@media only screen and (max-width: 550px) {
  .formulario .form {
    margin-bottom: 70%;
    margin-top: -30%;
  }
}
.formulario .form h2 {
  margin: 1rem 0;
  padding-bottom: 1rem;
  width: 18rem;
  font-size: 2.5rem;
  color: #78788c;
  border-bottom: 0.3rem solid #78788c;
}
.formulario .form p {
  font-size: 1.5rem;
}
.formulario .form input {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 0.2rem solid #bebed2;
}
.formulario .form input:focus {
  border-bottom: 0.2rem solid #78788c;
}
.formulario .form input:before {
  content: attr(type);
  display: block;
  margin: 2.8rem 0 0;
  font-size: 1.4rem;
  color: #5a5a5a;
}
.formulario .form button {
  float: right;
  padding: 0.8rem 1.2rem;
  margin: 0.8rem 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  border: 0.2rem solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.formulario .form button:hover {
  background: #78788c;
  color: #fff;
}
.formulario .form div {
  content: "Hi";
  position: absolute;
  bottom: -1rem;
  right: -2rem;
  background: #50505a;
  color: #fff;
  width: 32rem;
  padding: 1.6rem 0.4rem 1.6rem 0;
  border-radius: 4rem;
  font-size: 1.3rem;
  box-shadow: 1rem 0 1rem -1rem black;
}
.formulario .form span {
  margin: 0 0.5rem 0 1.5rem;
}

.footer-contacto {
  padding-right: 31%;
  padding-top: 8%;
  position: relative;
}
@media only screen and (max-width: 550px) {
  .footer-contacto {
    margin: 20% 0 0 0;
    padding: 1rem;
    position: relative;
    top: 3%;
    right: 7%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  background-color: rgb(230, 226, 219);
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto 80%;
  grid-template-columns: auto 13%;
  grid-template-areas: "header main main" "header main main" "header footer footer";
}

.header-container, .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
