@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap");
.footer-container, .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  grid-area: header;
  background-color: #c2a997;
  padding-top: 13%;
  padding-bottom: 50%;
  padding-right: 1%;
  position: fixed;
  z-index: 2;
}
@media only screen and (max-width: 550px) {
  .header-container {
    grid-area: header;
    background-color: #c2a997;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 1%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
  }
}
@media only screen and (max-width: 990px) {
  .header-container {
    grid-area: header;
    background-color: #c2a997;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 1%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
  }
}
.header-container nav .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-family: "Quicksand", sans-serif;
  line-height: 60px;
  position: relative;
  left: 7%;
}
@media only screen and (max-width: 990px) {
  .header-container nav .menu {
    font-size: 17px;
  }
}
@media only screen and (max-width: 1600px) {
  .header-container nav .menu {
    font-size: 17px;
  }
}
.header-container nav .menu li a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

.footer-container {
  grid-area: footer;
  color: black;
  margin-top: 4%;
  padding-top: 2%;
  margin-left: 6.5%;
  position: relative;
  bottom: 20px;
}
@media only screen and (max-width: 990px) {
  .footer-container {
    position: relative;
    bottom: -100%;
  }
}
@media only screen and (max-width: 1600px) {
  .footer-container {
    position: relative;
    bottom: -100%;
  }
}
@media only screen and (max-width: 550px) {
  .footer-container {
    position: relative;
    right: 8%;
    margin-bottom: 10%;
    font-size: 14px;
  }
}
.footer-container .logoface {
  position: relative;
  bottom: 50px;
  left: 100px;
}
.footer-container .logoig {
  position: relative;
  bottom: 50px;
  left: 350px;
}
@media only screen and (max-width: 550px) {
  .footer-container .logoig {
    position: relative;
    left: 290px;
  }
}
.footer-container h4 {
  font-size: 15px;
}
@media only screen and (max-width: 550px) {
  .footer-container h4 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 550px) {
  .footer-index {
    margin-bottom: 25%;
  }
}
.main-container {
  grid-area: main;
  margin-left: 10%;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media only screen and (max-width: 990px) {
  .main-container {
    margin-left: 14%;
  }
}
@media only screen and (max-width: 1600px) {
  .main-container {
    margin-left: 13%;
  }
}
@media only screen and (max-width: 550px) {
  .main-container {
    margin-left: 0%;
  }
}
.main-container .section-foto {
  position: relative;
  top: 30px;
}
.main-container .section-foto .home-div {
  background-color: rgba(230, 219, 210, 0.9921568627);
  border-radius: 10px;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 7%;
}
@media only screen and (max-width: 550px) {
  .main-container .section-foto .home-div {
    background-color: rgba(230, 219, 210, 0.9921568627);
    position: relative;
    top: 80px;
    border-radius: 10px;
    margin-right: 0;
    margin-left: 0;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15%;
  }
}
.main-container .section-foto .home-div img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.main-container .section-texto {
  position: relative;
  bottom: 70px;
  padding-left: 6%;
  margin-left: 10%;
  color: black;
  opacity: 0.8;
}
@media only screen and (max-width: 1600px) {
  .main-container .section-texto {
    position: relative;
    bottom: 40px;
  }
}
@media only screen and (max-width: 990px) {
  .main-container .section-texto {
    position: relative;
    bottom: 30px;
  }
}
@media only screen and (max-width: 550px) {
  .main-container .section-texto {
    position: relative;
    top: 10%;
    left: 10%;
    background-color: rgb(189, 185, 185);
    padding: 4%;
    margin-right: 12%;
    margin-bottom: 15%;
    border-radius: 10px;
  }
}
.main-container .section-texto h1 {
  font-size: 25px;
  font-family: "Source Serif Pro", serif;
}
@media only screen and (max-width: 1600px) {
  .main-container .section-texto h1 {
    font-size: 20px;
  }
}
.main-container .section-texto h4 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: black;
  opacity: 0.8;
}
@media only screen and (max-width: 1600px) {
  .main-container .section-texto h4 {
    font-size: 16px;
  }
}

section .grilla-fotos {
  background-color: rgba(230, 219, 210, 0.9921568627);
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;
  justify-items: center;
  column-gap: 10px;
  row-gap: 10px;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  margin-right: 30px;
}
@media only screen and (max-width: 550px) {
  section .grilla-fotos {
    background-color: rgba(230, 219, 210, 0.9921568627);
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    justify-items: center;
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    margin-right: 20px;
    margin-left: 20px;
  }
  section .grilla-fotos .foto21 {
    display: none;
  }
}
section .grilla-fotos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.contenedor {
  margin-bottom: -40px;
}

.titulo-nfg {
  padding-top: 3%;
  display: flex;
  flex-direction: column;
}
.titulo-nfg h1 {
  align-items: center;
  font-size: 45px;
  font-family: "Source Serif Pro", serif;
  padding-bottom: 2%;
  position: relative;
  left: 43%;
}
@media only screen and (max-width: 550px) {
  .titulo-nfg h1 {
    position: relative;
    left: 34%;
    font-size: 40px;
    margin-top: 5%;
  }
}
.titulo-nfg p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
@media only screen and (max-width: 550px) {
  .titulo-nfg p {
    font-size: 18px;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

section .tm-div {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  right: 1%;
  font-family: "Times New Roman", Times, serif;
  font-family: "Dancing Script", cursive;
  font-size: 22px;
}
@media only screen and (max-width: 550px) {
  section .tm-div {
    margin-top: 5%;
    position: relative;
    top: 30%;
  }
}

.new-div p {
  font-family: "Lato", sans-serif;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 20px;
}
@media only screen and (max-width: 550px) {
  .new-div p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    padding-top: 3%;
    padding-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.titulo-nfg .sobre-div {
  background-color: rgba(230, 219, 210, 0.9921568627);
  border-radius: 10px;
  margin-bottom: 2%;
  margin-top: -2%;
  padding: 2%;
  width: 50%;
  height: 50%;
}
@media only screen and (max-width: 550px) {
  .titulo-nfg .sobre-div {
    width: 90%;
    height: 90%;
  }
}
.titulo-nfg .sobre-div .foto-debo {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.titulo-contenedor {
  position: relative;
  right: 39%;
}
@media only screen and (max-width: 550px) {
  .titulo-contenedor {
    margin-top: 15%;
    margin-left: 10%;
  }
  .titulo-contenedor h1 {
    position: relative;
    left: 43%;
  }
}
.titulo-contenedor p {
  position: relative;
  left: 43%;
}
@media only screen and (max-width: 990px) {
  .titulo-contenedor h1 {
    position: relative;
    left: 43%;
  }
}
@media only screen and (max-width: 1600px) {
  .titulo-contenedor h1 {
    position: relative;
    left: 43%;
  }
}

.contacto-container {
  margin-left: -30%;
}
@media only screen and (max-width: 550px) {
  .contacto-container {
    margin-left: 0;
  }
}

.redes {
  width: 620px;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 60%;
}
@media only screen and (max-width: 550px) {
  .redes {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  .redes {
    display: none;
  }
}
@media only screen and (max-width: 1600px) {
  .redes {
    display: none;
  }
}

.formulario {
  display: flex;
  background-color: rgb(194, 193, 193);
  border-radius: 10px;
  margin-left: 4%;
  padding: 2%;
  width: 95%;
  height: 95%;
}
@media only screen and (max-width: 550px) {
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(194, 193, 193);
    border-radius: 10px;
    margin-left: 0;
    margin-bottom: 60%;
    padding: 8%;
    width: 100%;
    height: 100%;
  }
}
.formulario iframe {
  margin-right: 20%;
  margin-left: 10%;
}
@media only screen and (max-width: 550px) {
  .formulario iframe {
    margin-top: -50%;
    position: relative;
    right: 10%;
    width: 80%;
    height: 30%;
  }
}
.formulario .form {
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 15px -10px #000;
  margin: 0;
  margin-left: 4%;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
@media only screen and (max-width: 550px) {
  .formulario .form {
    margin-bottom: 40%;
    margin-top: -50%;
  }
}
.formulario .form h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}
.formulario .form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
.formulario .form input:focus {
  border-bottom: 2px solid #78788c;
}
.formulario .form input:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
.formulario .form button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.formulario .form button:hover {
  background: #78788c;
  color: #fff;
}
.formulario .form div {
  content: "Hi";
  position: absolute;
  bottom: -10px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 40px;
  font-size: 13px;
  box-shadow: 10px 0px 10px -10px #000;
}
.formulario .form span {
  margin: 0 5px 0 15px;
}

.footer-contacto {
  padding-right: 30%;
  padding-top: 8%;
  position: relative;
}
@media only screen and (max-width: 550px) {
  .footer-contacto {
    margin-top: 20%;
    padding: 10px;
    position: relative;
    top: 3%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 226, 219);
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto 80%;
  grid-template-columns: auto 13%;
  grid-template-areas: "header main main" "header main main" "header footer footer";
}

.header-container, .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
