@import '../base/mapas';
@import '../base/extends';
@import '../base/mixin';

.header-container {
    grid-area: header;
    background-color: map-get($general, bg-color);
    padding-top: 17%;
    padding-bottom: 50%;
    padding-right: 2%;
    position: fixed;
    @extend %flex;
    z-index: 2;
        nav{
            .menu{
                list-style: none;
                @include flex (flex, column);
                font-size: 30px;
                font-family: 'Dosis', sans-serif;
                line-height: 40px;
                    li{
                        a{
                            text-decoration: map-get($general, decoration);
                            color: black;
                            opacity: 0.7;
                        }
                    }   
            }
        }   
}

    .footer-container {
        grid-area: footer;
        color: black;
        margin-top: 4%;
        padding-top: 2%;
        margin-left: 13%;
        @extend %flex;
        position: map-get($general, position);
        bottom: 20px;
        .logoface {
            position: map-get($general, position);
            bottom: 50px;
            left: 100px;
        }
        .logoig {
            position: map-get($general, position);
            bottom: 50px;
            left: 350px;
        }
        h4{
            font-size: 15px;
        }
    }
    