@import '../base/mapas';
@import '../base/extends';
@import '../base/mixin';
@import '../base/breakspoints';
@import '../base/lista.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

// -----------------------------------Header
.header-container {
    grid-area: header;
    background-color: map-get($general, bg-color);
    padding-top: 13%;
    padding-bottom: 50%;
    padding-right: 1%;
    position: fixed;
    @extend %flex;
    z-index: 2;
    @include mobile{
        grid-area: header;
        background-color: nth($colores, 3);
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 2%;
        padding-top: 2%;
        border-radius: 5px;
        margin-top: 1%;
        margin-left: 1%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-content: center;
        z-index: 2;
    }   
     @include tablet{
        grid-area: header;
        background-color: nth($colores, 3);
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 2%;
        padding-top: 2%;
        border-radius: 5px;
        margin-top: 1%;
        margin-left: 1%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-content: center;
        z-index: 2;
    }

        nav{
            .menu{
                list-style: none;
                @include flex (flex, column);
                font-size: nth($textos, 3);
                font-family: 'Quicksand', sans-serif;
                line-height: 60px;
                position: relative;
                left: 7%;
                @include tablet{
                    font-size: 1.7rem;
                }
                @include laptop{
                    font-size: 1.7rem;
                }
                    li{
                        a{
                            text-decoration: map-get($general, decoration);
                            color: nth($colores, 4);
                            opacity: 0.7;
                        }
                    }   
            }
        }   
}

// ---------------------------------Footer
    .footer-container {
        grid-area: footer;
        color: nth($colores, 4);
        margin-top: 4%;
        padding-top: 2%;
        margin-left: 6.5%;
        @extend %flex;
        position: map-get($general, position);
        bottom: 20px;
        @include tablet{
            position: relative;
            bottom: -100%;
        }
        @include laptop{
            position: relative;
            bottom: -100%;
        }
        @include mobile{
            position: relative;
            right: 10%;
            margin-bottom: 10%;
        }
        .logoface {
            position: map-get($general, position);
            bottom: 50px;
            left: 100px;
        }
        .logoig {
            position: map-get($general, position);
            bottom: 50px;
            left: 350px;
            @include mobile{
                position: relative;
                left:290px;
            }
        }
        h4{
            font-size: 1.5rem;
            @include mobile{
            font-size: 1.2rem;
            }
        }
    }
    @include mobile{
        .footer-index{
            margin-bottom: 25%;
        }
    }