@import '../base/mapas';
@import '../base/breakspoints';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');

// -------------------------Contenedor general
.main-container {
    grid-area: main;
    margin-left: 10%;
    overflow-x: hidden;
    overflow-y: hidden;
    @include tablet{
        margin-left: 14%;
    }
    @include laptop{
        margin-left: 13%;
    }
    @include mobile{
        margin-left: 0%;
    }

// --------------------------Index
    .section-foto {
        position: map-get($general, position);
        top: 30px;

        .home-div {
            background-color: #e6dbd2fd;
            border-radius: 10px;
            margin-right: 10%;
            margin-left: 10%;
            padding-top: 5%;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 7%;
            @include mobile{
                background-color: #e6dbd2fd;
                position: relative;
                top: 80px;
                border-radius: 10px;
                margin-right: 0;
                margin-left: 0;
                padding-top: 5%;
                padding-left: 5%;
                padding-right: 5%;
                padding-bottom: 15%;
            }
            img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
            }
        }
    }

    .section-texto {
        position: map-get($general, position);
        bottom: 70px;
        padding-left: 6%;
        margin-left: 10%;
        color: black;
        opacity: 0.8;
        @include laptop{
            position: relative;
            bottom: 40px;
        }
        @include tablet{
            position: relative;
            bottom: 30px;
        }
        @include mobile{
            position: relative;
            top: 10%;
            left: 10%;
            background-color: rgb(189, 185, 185);
            padding: 4%;
            margin-right: 12%;
            margin-bottom: 15%;
            border-radius: 10px;
        }

        h1 {
            font-size: 25px;
            font-family: 'Source Serif Pro', serif;
            @include laptop{
                font-size: 20px;
            }
        }

        h4 {
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            color: black;
            opacity: 0.8;
            @include laptop{
                font-size: 16px;
            }
        }
    }
}


// -----Grilla de fotos de Galeria - Newborn - Familia

section {
    .grilla-fotos {
        background-color: #e6dbd2fd;
        border-radius: 10px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-auto-rows: auto;
        justify-items: center;
        column-gap: 10px;
        row-gap: 10px;
        padding-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
        margin-right: 30px;
        @include mobile{
            background-color: #e6dbd2fd;
            border-radius: 10px;
            display: grid;
            grid-template-columns: auto auto;
            grid-auto-rows: auto;
            justify-items: center;
            column-gap: 10px;
            row-gap: 10px;
            padding-top: 3%;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 3%;
            margin-right: 20px;
            margin-left: 20px;
            .foto21{
                display: none;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

// ---------------------Galeria - Newborn - Familia

// Contenedor para galeria que me genera margin
.contenedor {
    margin-bottom: -40px;
}

.titulo-nfg {
    padding-top: 3%;
    display: flex;
    flex-direction: column;

    h1 {
        align-items: center;
        font-size: 45px;
        font-family: 'Source Serif Pro', serif;
        padding-bottom: 2%;
        position: relative;
        left: 43%;
        @include mobile{
            position: relative;
            left: 34%;
            font-size: 40px;
            margin-top: 5%;
        }
    }

    p {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        @include mobile{
            font-size: 18px;
            margin-top: 1%;
            margin-left: 5%;
            margin-right: 5%;
        }
    }
}

section {
    .tm-div {
        display: flex;
        justify-content: center;
        position: relative;
        top: 50px;
        right: 1%;
        font-family: 'Times New Roman', Times, serif;
        font-family: 'Dancing Script', cursive;
        font-size: 22px;
        @include mobile{
            margin-top: 5%;
            position: relative;
            top: 30%;
        }
    }
}

.new-div {
    p {
        font-family: 'Lato', sans-serif;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 20px;
        @include mobile{
            font-family: 'Lato', sans-serif;
            font-size: 18px;
            padding-top: 3%;
            padding-bottom: 1%;
            margin-left: 5%;
            margin-right: 5%;
        }
    }
}

// ----------------------Sobre mi

.titulo-nfg {
    .sobre-div {
        background-color: #e6dbd2fd;
        border-radius: 10px;
        margin-bottom: 2%;
        margin-top: -2%;
        padding: 2%;
        width: 50%;
        height: 50%;
        @include mobile{
            width: 90%;
            height: 90%;
        }
        .foto-debo {
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
    }
}

// ---------------------Contacto
.titulo-contenedor{
    position: relative;
    right: 39%;
    @include mobile{
    margin-top: 15%;
    margin-left: 10%;
    h1{
        position: relative;
        left: 43%;
    }
    }
    p{
        position: relative;
        left: 43%;
    }
    @include tablet{
            h1{
                position: relative;
                left: 43%;
            }
        }
            @include laptop{
                h1{
                    position: relative;
                    left: 43%;
                }
            }
    }
.contacto-container{
    margin-left: -30%;
    @include mobile {
        margin-left: 0;
    }
}
.redes{
    width: 620px;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 60%;
    @include mobile{
    display: none;
    }
    @include tablet{
        display: none;
        }
    @include laptop{
    display: none;
    }
}

.formulario {
    display: flex;
    background-color: rgb(194, 193, 193);
    border-radius: 10px;
    margin-left: 4%;
    padding: 2%;
    width: 95%;
    height: 95%;
    @include mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(194, 193, 193);
        border-radius: 10px;
        margin-left: 0;
        margin-bottom: 60%;
        padding: 8%;
        width: 100%;
        height: 100%;
    }
    iframe{
        margin-right: 20%;
        margin-left: 10%;
        @include mobile{
        margin-top: -50%;
        position: relative;
        right: 10%;
        width: 80%;
        height: 30%;
        }
    }
    .form {
        width: 340px;
        height: 440px;
        background: #e6e6e6;
        border-radius: 8px;
        box-shadow: 0 0 15px -10px #000;
        margin: 0;
        margin-left: 4%;
        padding: 20px 30px;
        max-width: calc(100vw - 40px);
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        @include mobile{
            margin-bottom: 40%;
            margin-top: -50%;
        }
        h2 {
            margin: 10px 0;
            padding-bottom: 10px;
            width: 180px;
            color: #78788c;
            border-bottom: 3px solid #78788c;
        }
        input {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            background: none;
            outline: none;
            resize: none;
            border: 0;
            font-family: 'Montserrat', sans-serif;
            transition: all .3s;
            border-bottom: 2px solid #bebed2;
            &:focus {
                border-bottom: 2px solid #78788c;
            }        
            &:before {
                content: attr(type);
                display: block;
                margin: 28px 0 0;
                font-size: 14px;
                color: #5a5a5a;
            }
        }
        button {
            float: right;
            padding: 8px 12px;
            margin: 8px 0 0;
            font-family: 'Montserrat', sans-serif;
            border: 2px solid #78788c;
            background: 0;
            color: #5a5a6e;
            cursor: pointer;
            transition: all .3s;    
        &:hover {
            background: #78788c;
            color: #fff;
        }
        }

    
        div {
            content: 'Hi';
            position: absolute;
            bottom: -10px;
            right: -20px;
            background: #50505a;
            color: #fff;
            width: 320px;
            padding: 16px 4px 16px 0;
            border-radius: 40px;
            font-size: 13px;
            box-shadow: 10px 0px 10px -10px #000;
        }
        span {
            margin: 0 5px 0 15px;
        }
    }
}
.footer-contacto{
    padding-right: 30%;
    padding-top: 8%;
    position: relative;
    @include mobile{
        margin-top: 20%;
        padding: 10px;
        position: relative;
        top: 3%;
    }
}