@import '../base/lista.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
  }

  body {
    background-color: nth($colores, 1);
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-rows: auto 80%;
    grid-template-columns: auto 13%;
    grid-template-areas: "header main main"
                         "header main main"
                         "header footer footer";
}
